* { 
  background-color: #111111;
  box-shadow: 0px 0px;
  color: white;
  box-sizing: border-box; 
  text-align: center;
  font-family: sans-serif;
  font-size: 3vw;
  line-height: 1.7;
  padding: 1px;
}
div {
  width: auto;
  font-size: 4vw;
}
input {
  border: 1px solid gray;
  padding: 1px;
}
body { 
  width: 100%;
  height: 100%;
  padding: 10px;
  overflow: hidden; 
}
.disable-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently supported by any browser but < IE9 */
}
